h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 5px;
  padding: 10px 5px 5px;
}

h2 {
  font-size: 18px;
}

li {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  list-style: none;
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 0;
}
.app-container {
  width: 700px;
  height: 350px;
  padding: 20px;
  margin: 25px 30px;
  list-style: none;
}

.app-body {
  background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
  border: solid 1px rgba(143, 152, 157, 0.6);
  display: block;
  border-radius: 8px;
  max-width: 700px;
  max-height: 350px;
}

.button {
  text-align: center;
  margin: 0;
  position: relative;
  right: -160;
  top: -30;
  height: 35px;
  width: 75px;
}

.time {
  font-size: 18px;
  font-weight: 400;
}
.temp {
  font-size: 48px;
  font-weight: 400;
}

.small {
  font: 15px;
  position: relative;
  top: 30px;
}

.windTemp-card {
  background-color: transparent;
  border: none;
  text-align: left;
  position: relative;
  right: -100;
  top: -30;
}

.sun-icon {
  font-size: 40px;
}

.cloudSun-icon {
  position: relative;
  right: 20;
}
.city-input {
  border-radius: 5px;
  text-align: justify;
}

.weatherDetails {
  position: relative;
  right: 50;
  font-weight: 300;
  font-size: 15px;
}
