h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 10px 5px 5px;
}

h2 {
  font-size: 20px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
.app-container {
  display: block;
  padding: 20px;
  margin: 25px 65px;
  list-style: none;
}

.app-body {
  background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
  width: 800px;
  height: 400px;
}

.button {
  text-align: center;
  margin: 0;
  position: relative;
  right: -160;
  top: -30;
  height: 35px;
  width: 75px;
}

.date {
  font-size: 25px;
}
